1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
hello
-87.8
-
/
+
6

values :- hello , -87.8,6
expression:- *,-,/,+

2. What is the difference between string and variable?

variable are kind of entity which help you out to hold your data inside your main memory or ram 
in variable we store data and that data may be in any form weather its string or int or boolean etc and variable which we take 
it may be a single character or no of chracter single character like a and no of chracter like name tushar

whereas,

string represent type of data store in vriable basically a series of characters or when we have no characters thats called a 
string and we can easily convert or do type casting by just enclosed any group of data or group of no in "".

ex :-
    a = "tushar"
here a = variable 
 tushar = string
    
    similarly b = "12345"
     b = variable
  12345 = string

3. Describe three different data types.

1) integer or we say numeri data type it is used to store numbers withought a fractional component
2) float data type it is used to store numbers with decimal
3) boolean data type it is used to store data in form of true and false

After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
baccon = 22
print(baccon+1)

23

In [3]:
baccon contain 22

22

What should the values of the following two terms be?
spam + spamspam
spam * 3

In [5]:
'spam' + 'spam'

'spamspam'

In [6]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

as we know variable name cannot begin with number as it must start with letter or the underscore chractare as it only contain alpha nnumeric chracters and underscores and also variable name are case sensitive

q9 : - What three functions can be used to get the integer, floating-point number, or string
version of a value?

ans : - for integer :- int()
        for float point no :- float()
        for string :- str()

In [9]:
ex 1 :- a = "12345"
print(int(a))

12345

In [17]:
a = 1234
print("a=",type(a))
b = str(a)
print("b =" , type(b))

a= <class 'int'>
b = <class 'str'>

In [18]:
a = 1223.678
print(type(a))

<class 'float'>

In [ ]:
10. Why does this expression cause an error? How can you fix it?
"I have eaten" + 99 + " burritos"    :-  the problem is " " as between two string there is one int and we cant add str and int 
                                         simontaneously so either we convert or do type casting of str into int or int into str

In [19]:
"I have eaten" + "99" + " burritos"

'I have eaten99 burritos'

4. What is an expression made up of? What do all expressions do?

expression is any kind of combinattion of literalls values(5,10.0,true) ,arithmetic  operators , boolean operators(true,false)
variables any value is expression even expression is made up of expression

In [ ]:
This assignment statements, like spam = 10. What is the difference between an
expression and a statement?


expression is any kind of combinattion of literalls values(5,10.0,true) ,arithmetic  operators , boolean operators(true,false)
variables any value is expression even expression is made up of expression

a single line of code is called as statement , a programme is made up of sequence of statements.